
* {
  box-sizing: border-box;
}

body
{
  font-family: Arial;
  padding: 10px;
  background: #D8BFD8;
}

/* Website Header */
.header
{
  padding: 29px;
  overflow: hidden;
  border-radius: 10px;
}

.header h1
{
  font-size: 50px;
}

/* top navigation bar */
.topnav {
  display: flex; /* Use flexbox to lay out the items in a row */
  background-color: #915F6D;
  border-radius: 10px;
  width: 100%; /* Ensure the topnav takes up full width */
  box-sizing: border-box; /* Prevent the content from overflowing */
}

/* style top navigation links */
.topnav a {
  flex: 1; /* Ensure each link takes equal space */
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Footer */
.footer{
 text-align: center;
 margin-top: auto;
}
 